:root{
    --ms-primary-color: #1abc9c;
    --ms-secondary-color: #2c3e50;
    --ms-secondary-light-color-color: #3a546d;
    --ms-text-primary: white;
    --ms-text-secondary: black;
}


.section_grey {
    background-color: var(--ms-secondary-color);
    color: var(--ms-text-primary);
}

.bianco {
    color: var(--ms-text-primary);
}

.section_green {
    background-color: var(--ms-primary-color);

}

.nero {
    color: var(--ms-text-secondary);
}

.section_light {
    background-color: var(--ms-secondary-light-color-color);
}

.fa-brands {
    font-size: 1.875rem;
}

.jumbo{
    width: 50%;
}

.ms-separation {
    color: var(--ms-text-primary);
}

.ms-separation2 {
    color: var(--ms-text-secondary);
}

.line {
    display: inline-block;
    height: 3px;
    width: 100px;
    background-color: var(--ms-text-primary);
    margin: 0 10px;
}

.line2 {
    display: inline-block;
    height: 3px;
    width: 100px;
    background-color:var(--ms-text-secondary);
    margin: 0 10px;
}

.star {
    display: inline-block;
    font-size: 2em;
    position: relative;
}

.star:before,
.star:after {
    content: "";
    position: absolute;
    top: 0;
}